<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>

    <style>
        body {
            font-family: Arial;
            background: #f5f5f5;
            text-align: center;
            padding-top: 100px;
        }

        .dashboard {
            background: white;
            padding: 40px;
            width: 500px;
            margin: auto;
            border-radius: 10px;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
        }
    </style>

</head>

<body>

    <div class="dashboard">

        <h1>Welcome to Dashboard</h1>

        <p>Login successful!</p>

        <p>
            Docker Auto Deployment Demo
        </p>

    </div>

</body>

</html>